/* #region Mobile */

.hero {
  background-color: var(--navy-blue);
  background-image: linear-gradient(var(--grey), var(--grey)),
    url('../images/hero/hero-mobile@1x.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding: 72px 0;
  min-width: 320px;
  max-width: 1440px;
  margin: 0 auto;
}

@media only screen and (max-width: 767px) and (min-resolution: 192dpi) {
  .hero {
    background-image: linear-gradient(var(--grey), var(--grey)),
      url('../images/hero/hero-mobile@2x.jpg');
  }
}
@media only screen and (min-width: 768px) {
  .hero {
    background-image: linear-gradient(var(--grey), var(--grey)),
      url('../images/hero/hero-tab@1x.jpg');
  }
}
@media only screen and (min-width: 768px) and (min-resolution: 192dpi) {
  .hero {
    background-image: linear-gradient(var(--grey), var(--grey)),
      url('../images/hero/hero-tab@2x.jpg');
  }
}
@media only screen and (min-width: 1158px) {
  .hero {
    .hero {
      background-image: linear-gradient(var(--grey), var(--grey)),
        url('../images/hero/hero-desk@1x.jpg');
    }
  }
}
@media only screen and (min-width: 1158px) and (min-resolution: 192dpi) {
  .hero {
    background-image: linear-gradient(var(--grey), var(--grey)),
      url('../images/hero/hero-desk@2x.jpg');
  }
}

.hero-title {
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  color: var(--white);
  text-align: center;
  max-width: 496px;
}

.hero .container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 72px;
}

.order-btn {
  background: var(--iris);
  font-size: 16px;
  min-width: 169px;
  border-radius: 4px;
  padding: 16px 32px;
  box-shadow: var(--btn-shadow);
  transition: background-color var(--transition-primary);
}

.order-btn:hover,
.order-btn:focus,
.subscribe-btn:hover,
.subscribe-btn:focus,
.modal-form-btn:hover,
.modal-form-btn:focus {
  background-color: var(--ocean);
}

/* #endregion */

@media screen and (min-width: 768px) {
  .hero {
    padding: 112px 0;
  }
  .hero-title {
    font-size: 56px;
    line-height: 1.07;
  }

  .hero .container {
    gap: 36px;
  }
}

@media screen and (min-width: 1158px) {
  .hero {
    padding: 188px 0;
  }

  .hero .container {
    gap: 48px;
  }
}
