:root {
  /* Colors */
  --iris: #4d5ae5;
  --ocean: #404bbf;
  --navy-blue: #2e2f42;
  --green: #31d0aa;
  --slate: #434455;
  --light-slate: #8e8f99;
  --cornflower: #e7e9fc;
  --cloud: #f4f4fd;
  --navy-blue-modal: rgba(46, 47, 66, 0.4);
  --grey: rgba(46, 47, 66, 0.7);
  --white: #fff;
  --dairy: #fcfcfc;

  /* Fonts */
  --font-family: 'Roboto', sans-serif;
  --second-family: 'Raleway', sans-serif;

  /* Shadow */
  --card-shadow: 0px 1px 6px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 2px 1px 0px rgba(46, 47, 66, 0.08);
  --btn-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);

  /* Transitions */
  --transition-primary: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  --transition-modal: 700ms ease-in-out;
}

/* #region Base styles */
body {
  font-family: var(--font-family);
  color: var(--slate);
  line-height: 1.5;
  letter-spacing: 0.02em;
  background-color: var(--white);
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

ul,
ol {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

img {
  display: block;
  object-fit: cover;
  width: 100%;
}

address {
  font-style: normal;
}

a {
  color: currentColor;
  text-decoration: none;
}

button {
  font-family: inherit;
  cursor: pointer;
  color: currentColor;
}

input {
  font-family: inherit;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* #endregion */

/* #region Common */

.container {
  max-width: 1158px;
  margin: 0 auto;
  padding: 0 15px;
}

.section:not(:first-child) {
  padding-top: 120px;
  padding-bottom: 120px;
}

.advantages-subtitle,
.portfolio-subtitle,
.team-card-title {
  color: var(--navy-blue);
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
}

.portfolio-title,
.team-title {
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  color: var(--navy-blue);
  text-transform: capitalize;
  margin-bottom: 72px;
}

.advantates-list,
.portfolio-list,
.team-list {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: row;
  gap: 24px;
  flex-wrap: wrap;
}

.team-icon-item,
.socials-icon-item {
  height: 40px;
  width: 40px;
}

.team-icon,
.socials-icon {
  fill: var(--cloud);
}

.team-icon-button,
.socials-icon-button {
  border-radius: 50%;
  width: 100%;
  height: 100%;
  background-color: var(--iris);
  border: none;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: background-color var(--transition-primary);
}

.btn {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--white);
  border: 0;
}

/* #endregion */

/* #region Logo */
.logo {
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  font-family: var(--second-family);
  color: var(--iris);
  margin-right: 76px;
}

.logo-dark {
  color: var(--navy-blue);
}

.logo-light {
  color: var(--cloud);
}

/* #endregion */

/* #region Header nav and adress */

.header {
  border-bottom: 1px solid var(--cornflower);
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.header-nav {
  display: flex;
  align-items: center;
}

.nav-list {
  display: flex;
  gap: 40px;
}

.nav-link {
  font-weight: 500;
  color: var(--navy-blue);
  padding: 24px 0;
  display: inline-block;
  transition: color var(--transition-primary);
  position: relative;
}

.selected {
  color: var(--ocean);
}

.selected::after {
  content: '';
  width: 100%;
  position: absolute;
  left: 0;
  bottom: -1px;
  height: 4px;
  background-color: var(--ocean);
  border-radius: 2px;
}

.address-list {
  display: flex;
  gap: 40px;
}

.address-link {
  color: var(--slate);
  transition: color var(--transition-primary);
}

.nav-link:hover,
.nav-link:focus,
.address-link:hover,
.address-link:focus {
  color: var(--ocean);
}

/* #endregion */

/* #region Hero */

.hero {
  background-color: var(--navy-blue);
  background-image: linear-gradient(var(--grey), var(--grey)),
    url('../images/hero/hero-image.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding: 188px 0;
  max-width: 1440px;
  margin: 0 auto;
}

.hero-title {
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  color: var(--white);
  text-align: center;
  max-width: 496px;
}

.hero .container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 48px;
}

.order-btn {
  background: var(--iris);
  font-size: 16px;
  min-width: 169px;
  border-radius: 4px;
  padding: 16px 32px;
  box-shadow: var(--btn-shadow);
  transition: background-color var(--transition-primary);
}

.order-btn:hover,
.order-btn:focus,
.subscribe-btn:hover,
.subscribe-btn:focus,
.modal-form-btn:hover,
.modal-form-btn:focus {
  background-color: var(--ocean);
}

/* #endregion */

/* #region Advantages */

.advantages-icon-card {
  border: 1px solid var(--light-slate);
  border-radius: 4px;
  width: 264px;
  height: 112px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--cloud);
  margin-bottom: 8px;
}

.advantages-icon {
  fill: var(--navy-blue);
}

.advantages-item {
  display: flex;
  flex-basis: calc((100% - 3 * 24px) / 4);
  flex-direction: column;
  align-items: flex-start;
}

/* #endregion */

/* #region Team */
.team {
  background-color: var(--cloud);
}

.team-card-content {
  padding: 32px 0;
}

.team-card-title {
  text-align: center;
}

.team-card-desc {
  text-align: center;
}

.team-icon-list {
  display: flex;
  justify-content: center;
  gap: 24px;
  margin-top: 8px;
}

.team-icon-button:hover,
.team-icon-button:focus {
  background-color: var(--ocean);
}

.team-card {
  background-color: var(--white);
  display: flex;
  flex-basis: calc((100% - 3 * 24px) / 4);
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 0 0 4px 4px;
  box-shadow: var(--card-shadow);
}

/* #endregion */

/* #region Portfolio */

.portfolio-list {
  row-gap: 48px;
}

.portfolio-item:nth-last-child(-n + 3) {
  margin-bottom: 0;
}

.portfolio-item {
  display: flex;
  width: calc((100% - 48px) / 3);
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  column-gap: 24px;
  transition: box-shadow var(--transition-primary);
}

.portfolio-item:hover,
.portfolio-item:focus {
  box-shadow: var(--card-shadow);
}

.portfolio-item-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  border: 1px solid var(--cornflower);
  border-top: none;
  padding: 32px 16px;
  align-self: stretch;
}

.portfolio-image-container {
  position: relative;
  overflow: hidden;
}

.portfolio-hover-desc {
  position: absolute;
  top: 0;
  color: var(--cloud);
  padding: 40px 32px;
  background-color: var(--iris);
  height: 100%;
  width: 100%;
  transform: translateY(100%);
  transition: transform var(--transition-primary);
}

.portfolio-item:hover .portfolio-hover-desc {
  transform: translateY(0%);
  color: var(--white);
}
/* #endregion */

/* #region Footer */
.footer {
  background-color: var(--navy-blue);
  padding: 100px 0;
}

.footer-wrapper {
  display: flex;
  align-items: baseline;
}

.footer-content {
  margin-right: 120px;
}

.footer-desc {
  color: var(--cloud);
  max-width: 264px;
}

.socials {
  margin-right: 80px;
}

.subscribe-title,
.socials-title {
  color: var(--white);
  font-weight: 500;
  margin-bottom: 16px;
}

.socials-icon-list {
  display: flex;
  justify-content: center;
  gap: 16px;
}

.socials-icon-button:hover,
.socials-icon-button:focus {
  background-color: var(--green);
}

.footer .logo {
  display: inline-block;
  margin-bottom: 16px;
}

.subscribe-email-input {
  background-color: transparent;
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  padding-left: 16px;
  width: 264px;
  height: 40px;
  border-radius: 4px;
  border: 1px solid var(--white);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  color: var(--white);
}

.subscribe-email-input::placeholder {
  color: var(--white);
}

.subscribe-form-label {
  color: var(--white);
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.32px;
  background-color: var(--navy-blue);
}

.subscribe-btn {
  border-radius: 4px;
  background: var(--iris);
  padding: 8px 24px;
  min-height: 40px;
  min-width: 165px;
  transition: background-color var(--transition-primary);
}

.subscribe-form {
  display: flex;
  align-items: center;
  gap: 24px;
}

.subscribe-icon {
  fill: var(--white);
  margin-left: 16px;
}
/* #endregion */

/* #region Modal */

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  width: 100%;
  height: 100%;
  background-color: var(--navy-blue-modal);
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: var(--transition-primary);
  transition-property: opacity, visibility;
}
.backdrop.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 408px;
  width: 100%;
  min-height: 584px;
  padding: 24px;
  padding-top: 72px;
  border-radius: 4px;
  background-color: var(--dairy);
  box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2),
    0px 1px 3px 0px rgba(0, 0, 0, 0.12), 0px 1px 1px 0px rgba(0, 0, 0, 0.14);
  transition: transform var(--transition-primary);
}

.modal-caption {
  margin-bottom: 16px;
  text-align: center;
  font-weight: 500;
  letter-spacing: 0.32px;
  color: var(--navy-blue);
}

.modal-form-field {
  margin-bottom: 8px;
}

.modal-form-comment {
  margin-bottom: 16px;
}

.modal-form-comment-input {
  display: block;
  width: 100%;
  height: 120px;
  padding: 8px 16px;
  color: var(--navy-blue-modal);

  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  border-radius: 4px;
  margin-bottom: 24px;
  border: 1px solid var(--navy-blue-modal, rgba(46, 47, 66, 0.4));
  resize: none;
  outline: transparent;
  background-color: transparent;
  transition: border-color var(--transition-primary);

  &::placeholder {
    color: var(--navy-blue-modal);
  }
}

.modal-form-comment-input:focus {
  border-color: var(--iris);
}

.modal-agreement {
  margin-bottom: 24px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: var(--light-slate);
}

.privacy-policy {
  color: var(--iris);
}

.modal-agreement-label {
  align-items: center;
  gap: 8px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: var(--light-slate);
}

.custom-checkbox {
  width: 16px;
  height: 16px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 2px;
  transition: var(--transition-primary);
  transition-property: background-color, border, fill;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  fill: transparent;
}

.check-box-input {
  height: 16px;
  width: 16px;
  margin-right: 8px;
  border: 1px solid rgba(0, 0, 0, 0.1);
}

.check-box-input[type='checkbox']:checked ~ label .custom-checkbox {
  background-color: var(--ocean);
  fill: var(--cloud);
  border: none;
}

.modal-btn {
  position: absolute;
  top: 24px;
  right: 24px;
  min-width: 24px;
  max-height: 24px;
  flex-shrink: 0;
  width: 24px;
  height: 24px;
  padding: 0;
  transition: var(--transition-primary);
  transition-property: background-color, border;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background: var(--cornflower);
}

.modal-btn:hover {
  background-color: var(--ocean);
  border: none;
}

.modal-btn:focus {
  background-color: var(--ocean);
  border: none;
}

.modal-btn:hover .modal-btn-icon {
  fill: var(--white);
}

.modal-btn:focus .modal-btn-icon {
  fill: var(--white);
}

.modal-form-btn {
  display: block;
  margin: 0 auto;
  border-radius: 4px;
  background: var(--iris);
  box-shadow: var(--btn-shadow);
  min-width: 169px;
  height: 56px;
  padding: 16px 32px;
  transition: background-color var(--transition-primary);
}

.modal-field {
  margin-bottom: 8px;
}

.modal-form-label {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: var(--light-slate);
  display: block;
  margin-bottom: 4px;
}

.modal-form-wrapper {
  position: relative;
}

.modal-form-input {
  width: 100%;
  height: 40px;
  border-radius: 4px;
  border: 1px solid var(--navy-blue-modal);
  padding-left: 38px;
  background-color: transparent;
  outline: transparent;
  transition: border-color var(--transition-primary);
}

.modal-btn-icon {
  fill: var(--navy-blue);
  transition: fill var(--transition-primary);
}

.modal-form-icon {
  position: absolute;
  top: 50%;
  left: 16px;
  transform: translateY(-50%);
  transition: fill var(--transition-primary);
}

.modal-form-wrapper:focus-within .modal-form-icon {
  fill: var(--iris);
}

.modal-form-comment:hover,
.modal-form-input:hover {
  border-color: var(--iris);
}

.modal-form-comment:focus-within,
.modal-form-input:focus-within,
.modal-form-comment-input:focus-within {
  border-color: var(--iris);
}
/* #endregion */
